.previsualizador-markdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --color-naanja-oscuro : rgb(229, 161, 35);
  --color-naanja-claro : rgb(240, 176, 57);
  --color-naanja-masClaro : rgb(251, 212, 140);
}

#editor,#preview{
    background-color: var(--color-naanja-masClaro);
    padding: 10px;
}

#editor {
  width: 350px;
  height: 200px;
  /* max-width: 100%; */
}

#preview {
  /* max-width: 100%; */
}

#preview img {
  max-width: 100%;
  object-fit: contain;
}

#preview code {
  display: inline-block;
  max-width: 100%;
  overflow: auto;
}

#preview table,
#preview th,
#preview td {
  border: 2px solid black;
  border-collapse: collapse;
}
