body {
  padding: 0;
  margin: 0;
  background-color: var(--color-naanja-claro);
  background-color: red;
}
* {
  box-sizing: border-box;
}

:root {
  --color-naanja-oscuro: rgb(235, 162, 28);
  --color-naanja-claro: rgb(250, 191, 82);
  --color-naanja-masClaro: #fde1ad;
}
